.card {
    --border-color: #E7E7EE;
    --bg-color: #FDFDFD;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: getrem(24px);

    &-content {
        &>*+* {
            border-top: 1px solid var(--border-color, #E7E7EE);
        }
    }

    &-heading {
        padding-bottom: 24px;
    }

    &-body {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    &-footer {
        padding-top: 24px;
    }

    &-cta {
        width: 100%;
    }

    .socials {
        display: none;
    }
}

@include less-md() {
    .card {
        --bg-color: #fff;
        border-radius: 0;
        padding-top: getrem(16px);
        padding-bottom: getrem(16px);

        &-heading {
            padding-bottom: getrem(16px);
        }

        &-footer {
            padding: 0;
        }

        .socials {
            display: flex;
        }
    }
}
