@import "./datepicker.material.scss";

.schedule {
    width: min(100%, 556px);
    border: 1px solid #E7E7EE;
    border-radius: 8px;

    @include less-md() {
        width: min(100%, 320px);

        .datepicker.custom {
            width: 100%;

            &:last-child {
                display: none;
            }
        }
    }
}

.timeslot {
    &-item {
        border: 1px solid var(--border, var(--color-grey));
        border-radius: 8px;
        padding: 12px;

        &-active {
            --border: var(--color-green);
        }
    }
}

.datepicker.custom {
    width: 50%;

    .datepicker__wrapper {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
        font-family: var(--font-main);
    }

    .datepicker__header {
        background-color: #fff;
    }

    table th {
        font-size: getMinMax(12px, 12px);
    }

    .datepicker__title,
    table th,
    .datepicker__day,
    .datepicker__wrapper {
        color: var(--color-text-body);
        font-weight: 400;
    }

    .datepicker__title {
        font-weight: 500;
    }

    .datepicker__day.is-disabled,
    .datepicker__day.is-otherMonth {
        color: var(--color-disabled);
    }

    .datepicker__day.is-today {
        color: var(--color-green);
    }

    .datepicker__day.is-selected div,
    .datepicker__day.is-selected:hover div::after {
        background-color: var(--color-green);
    }

    .datepicker__next,
    .datepicker__prev {
        display: grid;
        place-items: center;

        &:hover {
            background-color: transparent;
        }

        [class^="icon-"], [class*=" icon-"] {
            font-size: 24px;
        }
    }

    .datepicker__prev {
        transform: rotate(90deg);
    }

    .datepicker__next {
        transform: rotate(-90deg);
    }

    .datepicker-footer {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: getMinMax(16px, 16px) 0;

        .btn {
            --min-width: 10ch;
            min-height: 36px;
        }
    }

    table th {
        text-transform: none;
    }
}
