.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.72);
    opacity: 0;
    visibility: hidden;
    transition: all 300ms;
    pointer-events: none;

    &-open {
        overflow: hidden !important;
    }

    &-show {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        z-index: 9999;
    }

    .form-input-field {
        --min-height: 40px;
        font-size: getrem(14px);
    }
}

.modal-dialog {
    position: relative;
    grid-template-areas: 'header sidebar'
        'title sidebar'
        'content sidebar'
        'footer sidebar';
    background-color: #FFFFFF;
    border-radius: 8px;
    overflow-y: auto;

    .modal-show & {
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: slide-in;
        animation-duration: 0.5s;
    }
}

.modal-header {
    grid-area: header;
    border-bottom: 1px solid var(--color-grey);
    background-color: #fff;
}

.modal-title {
    grid-area: title;
    background-color: #fff;
}

.modal-content {
    grid-area: content;
    background-color: #fff;
}

.modal-footer {
    grid-area: footer;
    border-top: 1px solid var(--color-grey);
    background-color: #fff;

    .btn {
        --min-width: min(calc(50% - 8px), 188px);
    }
}

.modal-sidebar {
    grid-area: sidebar;
    background-color: #FCFCFC;

    .modal-footer {
        background-color: inherit;
    }
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    font-size: getrem(14px);
    padding: getrem(16px);
    z-index: 100;

    .icon-close {
        display: grid;
        place-items: center;
        width: getrem(32px);
        height: getrem(32px);
        color: #000;
        background-color: #FFFFFF;
        border-radius: 50%;
        pointer-events: none;
    }
}

.modal-order-list {
    &:empty {
        &::after {
            display: block;
            text-align: center;
            font-size: getrem(14px);
            content: 'No Tickets Added Yet';
        }
    }
}

@include less-md() {
    .modal-dialog {
        border-radius: 0;
    }

    .modal-sidebar {
        background-color: #fff;
    }

    .modal-close {
        right: auto;
        left: 0;
        font-size: getrem(20px);
        padding: getrem(10px);
    }

    .modal-sidebar-content {
        border-bottom: 1px solid var(--color-grey);
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slide-in {
    from {
        transform: translateY(-150px);
    }

    to {
        transform: translateY(0);
    }
}