.sidebar {
    &-title {
        font-size: getMinMax(16px, 20px);
        margin-bottom: getrem(24px);
    }

    @include less-md() {
        width: 100%;
        left: 0;
        bottom: 0;

        .payments {
            display: none;
        }
    }
}
