.tabs {
    border-bottom: 2px solid var(--color-grey);

    &-navbar {
        padding-top: getMinMax(24px, 40px);
        margin-bottom: -2px;
    }

    &-list {
        display: flex;
        flex-wrap: wrap;
    }

    &-item {
        min-width: 130px;
    }

    &-link {
        --color: #CBD5E1;
        @include tab();
        text-align: center;
        padding: 0 getrem(24px);

        &-active,
        &:active,
        &:hover,
        &:focus {
            --color: var(--color-green);
        }
    }
}

@include less-xs() {
    .tabs {
        overflow: visible;

        &-navbar {
            margin-left: -16px;
            margin-right: -16px;
        }

        &-list {
            flex-wrap: nowrap;
            overflow-x: scroll;
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
            /* Firefox */

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}