.ticket {
    &-groups {
        padding-top: getrem(24px);
        padding-bottom: getrem(24px);
        border-bottom: 1px solid var(--color-grey);

        & > * + * {
            margin-top: getrem(40px);
        }

        &-done {
            .text-heading {
                &::after {
                    font-family: 'icomoon';
                    content: "\e913";
                    color: var(--color-green);
                    margin-left: getrem(16px);
                }
            }
        }
    }

    &-card {
        grid-template-columns: repeat(2, auto);
        align-items: start;
        justify-content: space-between;
        border: 1px solid var(--color-grey);
        border-radius: 8px;
        padding: getrem(24px);
    }

    &-title {
        list-style: none;
        cursor: pointer;

        .icon-arrow-down {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-basis: getrem(36px);
            width: getrem(36px);
            height: getrem(36px);
            font-size: getrem(24px);
            transform: rotate(180deg);
            color: #000;
            border: 1px solid var(--color-grey);
            border-radius: 100%;
        }

        [open] & {
            .icon-arrow-down {
                transform: rotate(0deg);
            }
        }
    }

    &-title::-webkit-details-marker {
        display: none;
    }

    &-counter {
        justify-content: flex-end;

        input {
            background-color: transparent;
        }

        &-item {
            width: getrem(40px);
            height: getrem(40px);
            display: grid;
            place-items: center;
            text-align: center;
            border-radius: 8px;
        }
    }

    &-preview {
        display: flex;
        border: 1px solid #E7E7EE;
        border-radius: 8px;
        overflow: hidden;

        &-img {
            --width: 274;
            --height: 144;
            @include get-aspect-ratio();
            position: relative;
            flex: 0 1 getrem(274px);

            & > img {
                @include o-fit-absolute();
            }
        }

        &-body {
            flex: 1 1 0;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: 1fr auto;
            padding: getrem(16px);
        }

        &-title {
            grid-column: 1/1;
            grid-row: 1/2;
        }

        &-del {
            grid-column: 1/1;
            grid-row: 2/3;
        }

        &-cost {
            grid-column: 2/3;
            grid-row: 2/3;
        }
    }

    @include less-md() {
        &-groups {
            &:last-child {
                border-bottom: none;
            }
        }

        &-card {
            align-items: center;

            &-content {
                grid-column: 1/3;
            }

            .date {
                grid-column: 1/3;
                grid-row: 2/3;
            }
        }

        &-counter {
            grid-column: 2/3;
            grid-row: 3/4;
        }
        &-preview {
            flex-direction: column;
        }
    }
}
