<section class="section section-hero mb-0 md:mb-8">
    <div class="container max-w-screen-2xl p-0">
        <div class="banner has-img-fit">
            <picture class="banner-img img-bg has-img-fit">
                <source media="(max-width: 767px)" srcset="/assets/images/Banner-mobile.png">
                <img src="/assets/images/Banner.png" alt="{{title}}">
            </picture>
        </div>
    </div>
</section>