{% from "./tag.njk" import tag %}
{% from "./button.njk" import button %}
<div class="card flex flex-col">
    <div class="card-content">
        <div class="card-heading flex flex-wrap gap-2 items-center">
            <span class="text-disabled">From</span>
            <span class="text-primary text-3xl font-bold">R150 - R2000</span>
        </div>
        <div class="card-body flex flex-col gap-8">
            <div class="flex gap-5 items-center">
                <i class="icon-Tag text-2xl text-black"></i>
                <div class="flex flex-wrap gap-2">
                    {{ tag(text="Free OPTIONS") }}
                    {{ tag(type="primary", text="Family Friendly") }}
                    {{ tag(type="secondary", text="SOLD OUT") }}
                </div>
            </div>
            <div class="flex gap-5 items-center">
                <i class="icon-Calendar text-2xl text-black"></i>
                <div>
                    <p>Mon Apr 24, 09:00 - Sun Apr 30, 19:00</p>
                    <a href="#" class="text-primary">Add To Calendar</a>
                </div>
            </div>
            <div class="flex gap-5 items-center">
                <i class="icon-map-pin text-2xl text-black"></i>
                <div>
                    <p>Tankwa Town</p>
                    <a href="#" class="text-primary">View Map</a>
                </div>
            </div>
            <em>Tickets for this event may go back on sale. Click the button to never miss your opportunity again!</em>
        </div>
        <div class="card-footer">
            {{ button(type="button", className="btn-primary card-cta", text="BUY TICKETS") }}
        </div>
    </div>
</div>