<footer class="footer footer-bottom">
    <div class="container xl:max-w-7xl">
        <div class="footer-inner">
            {% include "./contacts.njk" %}
            <ul class="footer-contacts list-style-reset">
                <li>
                    <a href="#">Terms &amp; Conditions</a>
                </li>
                <li>
                    <a href="#">Privacy Policy</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
