<header id="header" class="header">
    <div class="container">
        <div class="flex items-center justify-between gap-1 py-4">
            <div class="flex items-center gap-10 basis-1/2">
                <a href="/" class="back">
                    <img src="/assets/images/icons/logo.svg" class="logo" width="169" height="48" alt="Quicket"/>
                </a>
                <div class="form-input flex-1 hidden md:block">
                    <input type="search" class="form-input-field">
                    <i class="form-input-icon icon-search"></i>
                </div>
            </div>
            <nav class="">
                <ul class="header-navbar flex items-center text-sm gap-5 md:gap-7">
                    {% set item = header %}
                    {% set has_dropdown = true %}
                    {%include "./header-dropdown.njk" %}
                    <li>
                        <a href="#" class="cart flex gap-5">
                            <span class="hidden md:block">CART</span>
                            {% include "../icons/cart.njk" %}
                            <span class="flex items-center justify-center cart-count text-white bg-primary">0</span>
                        </a>
                    </li>
                    <li class="sm:hidden">
                        <button type="button" class="flex text-2xl">
                            <i class="icon-menu"></i>
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>