<div class="flex flex-col gap-6 max-w-sm mt-4 md:mt-10">
    <h3 class="md:text-2xl font-medium border-b py-6">Need help?</h3>
    <p class="text-sm font-medium">How to buy a ticket with a credit card?</p>
    <div class="flex flex-col gap-4 text-sm">
        <p>For other Quicket related queries contact us at</p>
        <ul class="flex flex-col gap-4">
            <li>
                <a href="tel:" class="inline-flex gap-2 items-center max-w-full font-medium">
                    <i class="icon-phone"></i>
                    <span class="truncate">+27 21 424 9308</span>
                </a>
            </li>
            <li>
                <a href="mailto:" class="inline-flex gap-2 items-center max-w-full">
                    <i class="icon-mail"></i>
                    <span class="truncate">support@quicket.co.za</span>
                </a>
            </li>
            <li>
                <a href="tel:" class="inline-flex gap-2 items-center max-w-full font-medium">
                    <i class="icon-help"></i>
                    <span class="truncate">+27 21 424 9308</span>
                </a>
            </li>
        </ul>
    </div>
</div>
