<div class="modal-sidebar-content hidden md:flex flex-col gap-4 flex-1 py-4 px-6">
    <div class="flex items-center gap-2">
        <div class="font-medium flex-1">Order Summary</div>
        <div class="font-medium text-center basis-1/5">QTY</div>
        <div class="font-medium text-right basis-1/5">Amount</div>
    </div>
    <div class="modal-order-list flex flex-col gap-4"></div>
</div>
<div class="modal-sidebar-content flex md:hidden flex-col gap-4 flex-1 py-4 px-6">
    <div class="flex items-center justify-between gap-2">
        <div class="">Order Summary</div>
        <div class="text-xl font-medium">R 2,499</div>
    </div>
</div>