{% extends "./modal.njk" %}
{% block content %}
    <div class="inline-flex gap-4 schedule">
        {% include "./datepicker.njk" %}
    </div>
    <p class="text-disabled text-sm font-medium mt-6">Select timeslot for 4th September</p>
    <div class="timeslot flex gap-2 mt-2">
        <button type="button" class="timeslot-item">18:00-18:30</button>
        <button type="button" class="timeslot-item timeslot-item-active">18:00-18:30</button>
        <button type="button" class="timeslot-item">18:00-18:30</button>
    </div>
{% endblock %}