<div class="modal flex justify-center items-center md:px-4" data-modal="{{ step_title|replace(" ", "_") }}" data-close="true">
    <div class="modal-dialog flex flex-col grid-cols-details grid-rows-modal w-full max-w-screen-lg h-screen md:grid
            md:max-h-[790px]">
        <span class="modal-close" data-close="true">
            <i class="icon-close"></i>
        </span>
        <div class="modal-header p-3">
            {% include "./stepper.njk" %}
        </div>
        <div class="modal-title py-10 px-4 md:px-6">
            {% block title %}
                <h2 class="text-heading text-xl md:text-2xl font-medium mb-4">{{ step_title|safe }}</h2>
                <p class="text-sm md:text-base">{{ step_desc|safe }}</p>
            {% endblock %}
        </div>
        <div class="modal-content px-4 md:px-6">
            {% block content %}
                <span class="text-sm text-disabled">No Content Provided</span>
            {% endblock %}
        </div>
        <div class="modal-footer flex justify-between gap-2 px-6 py-4 sticky bottom-0 z-10 md:relative">
            <button class="btn" type="button">BACK</button>
            <button class="btn btn-primary" type="button">NEXT</button>
        </div>
        {% include "./modal-sidebar.njk" %}
    </div>
</div>
