<div class="modal modal-show grid grid-cols-details" data-modal="order_tickets" data-close="true">
    <div class="modal-dialog">
        <div class="stepper">
            <ul class="stepper-list">
                <li class="stepper-item">Schedule</li>
                <li class="stepper-item">TICKETS</li>
                <li class="stepper-item">MERCHANDISE</li>
                <li class="stepper-item">DETAILS</li>
            </ul>
        </div>
        <div class="modal-header">
            <h1>Schedule</h1>
            <p>Select a calendar date and timeslot option below for this event.</p>
        </div>
        <div class="modal-content">
            September 2022
        </div>
        <div class="modal-footer">
            <button class="btn" type="button">BACK</button>
            <button class="btn btn-primary" type="button">NEXT</button>
        </div>
    </div>
    <div class="modal-sidebar">
        <div class="modal-img">
            <img src="/assets/images/Banner-mobile.png" alt="{{title}}">
        </div>
    </div>
</div>