{% macro share(className="") %}
    <div class="socials flex gap-7 {{ className }}">
        <a href="#" class="icon-Share text-lg"></a>
        <a href="#" class="icon-Heart text-lg"></a>
    </div>
{% endmacro %}