<div class="stepper">
    <ul class="stepper-list flex items-center justify-between gap-2 text-sm uppercase font-medium">
        <li class="stepper-item flex gap-2 p-2 items-center stepper-item-done">
            <span>Schedule</span>
        </li>
        <li class="stepper-item flex gap-2 p-2 items-center stepper-item-current">
            <span>TICKETS</span>
        </li>
        <li class="stepper-item flex gap-2 p-2 items-center">
            <span>MERCHANDISE</span>
        </li>
        <li class="stepper-item flex gap-2 p-2 items-center">
            <span>DETAILS</span>
        </li>
    </ul>
</div>