<nav class="tabs-navbar">
    <ul class="tabs-list list-style-reset" data-tablist>
        {%- for tab, link in tabs -%}
            <li class="tabs-item">
                <a href="{{ link }}" class="tabs-link {{ 'tabs-link-active' if loop.index === 1 }}" data-tab="{{ tab }}">
                    <span>{{ tab }}</span>
                </a>
            </li>
        {%- endfor -%}
    </ul>
</nav>