{% from "./input.njk" import input, checkbox %}
<div class="ticket-details grid grid-cols-2 gap-x-2 gap-y-6">
    {{ input(label="First Name", placeholder="First Name", id="First_Name") }}
    {{ input(label="Second Name", placeholder="Second Name", id="Second_Name") }}
    {{ input(type="tel", label="Cellphone", placeholder="Cellphone", id="Cellphone") }}
    {{ input(type="email", label="Email Address", placeholder="Email Address", id="Email_Address") }}
    <div class="col-span-2 flex flex-col gap-6">
        {{ checkbox(label="Send ticket details by SMS (R3 charge)", id="SMS") }}
        {{ checkbox(label="Email this ticket holder a copy of this ticket", id="Email_ticket") }}
    </div>
</div>