{% extends "./modal.njk" %}
{% block title %}
    {{ super() }}
    <div class="form-input max-w-sm mt-6">
        <input class="form-input-field" type="text" placeholder="Enter Promotional Code"/>
        <button type="submit" class="flex items-center justify-center bg-grey absolute top-0 right-0 w-10 h-full rounded-r-lg border-[#C2C9D1] border">
            {% include "../../icons/arrow-right.njk" %}
        </button>
    </div>
{% endblock %}
{% block content %}
    <form id="{{ step_title|replace(" ", "_") }}_form" class="flex flex-col" action="">
        <details class="ticket-groups">
            <summary class="ticket-title flex gap-2">
                <div class="flex-1">
                    <h3 class="text-heading text-lg font-medium mb-4">General Sale (adult)</h3>
                    <p class="text-disabled">A description of this ticket group.</p>
                </div>
                <i class="icon-arrow-down"></i>
            </summary>
            {% include "../ticket/ticket-card.njk" %}
            {% include "../ticket/ticket-card.njk" %}
        </details>
        <details class="ticket-groups">
            <summary class="ticket-title flex gap-2">
                <div class="flex-1">
                    <h3 class="text-heading text-lg font-medium mb-4">Ticket #2: Weekend Pass & Bell Tent Glamping</h3>
                    <p class="text-disabled">A description of this ticket group.</p>
                </div>
                <i class="icon-arrow-down"></i>
            </summary>
            {% include "../ticket/ticket-card.njk" %}
            {% include "../ticket/ticket-card.njk" %}
        </details>
    </form>
{% endblock %}
