{% extends "./modal.njk" %}
{% block content %}
    <form id="{{ step_title|replace(" ", "_") }}_form" class="flex flex-col">
        <details class="ticket-groups">
            <summary class="ticket-title flex gap-2">
                <div class="flex-1">
                    <h3 class="text-heading text-lg font-medium mb-4">Vehicle Passes</h3>
                    <p class="text-disabled">All vehicles entering AfrikaBurn need to purchase a Vehicle Pass.</p>
                </div>
                <i class="icon-arrow-down"></i>
            </summary>
            {% include "../ticket-card.njk" %}
            {% include "../ticket-card.njk" %}
        </details>
        <details class="ticket-groups">
            <summary class="ticket-title flex gap-2">
                <div class="flex-1">
                    <h3 class="text-heading text-lg font-medium mb-4">Ticket #2: Weekend Pass & Bell Tent Glamping</h3>
                    <p class="text-disabled">A description of this ticket group.</p>
                </div>
                <i class="icon-arrow-down"></i>
            </summary>
            {% include "../ticket-card.njk" %}
            {% include "../ticket-card.njk" %}
        </details>
    </form>
{% endblock %}
