{% from "../_includes/components/socials.njk" import share %}
{% from "../_includes/components/socials.njk" import network %}
{% from "../_includes/components//tag.njk" import tag %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            {% include "../_includes/head.njk" %}
        {% endblock %}
    </head>
    <body class="{{ body_class }} font-heebo">
        <div class="wrapper">
            {% block header %}
                {% include "../_includes/components/header.njk" %}
            {% endblock %}
            <main class="content">
                {% block content %}
                    {% include "../_includes/components/banner.njk" %}
                    <section class="section tabs hidden md:block">
                        <div class="container xl:max-w-7xl">
                            {% include "../_includes/components/tabs.njk" %}
                        </div>
                    </section>
                    <section class="section">
                        <div class="container xl:max-w-7xl">
                            <div class="md:grid grid-cols-details gap-10 pt-6 md:pt-16 pb-8">
                                <div class="content-wrap">
                                    <div class="flex flex-col content-heading ">
                                        <div class="flex flex-wrap gap-2 mb-2 md:hidden">
                                            {{ tag(text="Free OPTIONS") }}
                                            {{ tag(type="primary", text="Family Friendly") }}
                                            {{ tag(type="secondary", text="SOLD OUT") }}
                                        </div>
                                        <h1 id="About" class="text-heading font-bold capitalize flex items-center justify-between">
                                            {{ title }}
                                            {{ share(className="hidden md:flex") }}
                                        </h1>
                                        <div class="author flex flex-wrap">
                                            <a href="#">By
                                                <span class="text-primary">{{ author }}</span>
                                            </a>
                                            <a href="{{ link }}">{{ link }}</a>
                                        </div>
                                        {{ network() }}
                                        <div class="flex flex-col gap-2 mt-6 mb-6 md:hidden">
                                            <div class="flex gap-3 items-center">
                                                <i class="icon-Calendar text-xl text-black"></i>
                                                <p class="text-sm">Mon Apr 24, 09:00 - Sun Apr 30, 19:00</p>
                                            </div>
                                            <div class="flex gap-3 items-center">
                                                <i class="icon-map-pin text-xl text-black"></i>
                                                <p class="text-sm">Tankwa Town</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tabs md:hidden">
                                        {% include "../_includes/components/tabs.njk" %}
                                    </div>
                                    <div class="content-inner pt-4 pb-4">
                                        {{ content | safe }}
                                    </div>
                                </div>
                                <aside class="sidebar hidden md:block">
                                    <div class="sticky top-48">
                                        {% include "../_includes/components/card.njk" %}
                                        <div class="payments flex flex-col items-center gap-6 mt-9">
                                            <p class="flex items-center gap-2 text-disabled text-sm">
                                                <i class="icon-Lock"></i>
                                                <span>Payments are secure and encrypted</span>
                                            </p>
                                            <img src="/assets/images/payment-options.png" width="360" height="26" alt="Payments are secure and encrypted">
                                        </div>
                                    </div>
                                </aside>
                            </div>
                        </div>
                        <aside class="sidebar sticky bottom-0 left-0 w-full md:hidden">
                            {% include "../_includes/components/card.njk" %}
                        </aside>
                    </section>
                {% endblock %}
            </main>
            {% block footer %}{% endblock %}
        </div>
        {% block scripts %}
            {% include "../_includes/scripts.njk" %}
        {% endblock %}
    </body>
</html>