{% from "../_includes/components/socials.njk" import share %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "../_includes/head.njk" %}
        {% block head %}{% endblock %}
    </head>
    <body class="{{ body_class }} font-heebo">
        <div class="wrapper">
            {% block header %}
                {% include "../_includes/components/header.njk" %}
            {% endblock %}
            <main class="content">
                {% block content %}
                    {% include "../_includes/components/banner.njk" %}
                    <section class="section tabs">
                        <div class="container xl:max-w-7xl">
                            {% include "../_includes/components/tabs.njk" %}
                        </div>
                    </section>
                    <section class="section">
                        <div class="container xl:max-w-7xl">
                            <div class="md:grid grid-cols-details gap-10 pt-16 pb-8">
                                <div class="content-wrap">
                                    <div class="flex flex-col content-heading">
                                        <h1 class="text-heading font-bold capitalize flex items-center justify-between">
                                            {{ title }}
                                            {{ share(className="hidden md:flex") }}
                                        </h1>
                                        <div class="author flex flex-wrap">
                                            <a href="#">By
                                                <span class="text-primary">{{ author }}</span>
                                            </a>
                                            <a href="{{ link }}">{{ link }}</a>
                                        </div>
                                        <div class="socials flex flex-wrap gap-7">
                                            <a href="#" class="icon-linkedin text-sm"></a>
                                            <a href="#" class="icon-tiktok text-sm"></a>
                                            <a href="#" class="icon-twitter text-sm"></a>
                                        </div>
                                    </div>
                                    <div class="content-inner pt-4 pb-4">
                                        {{ content | safe }}
                                    </div>
                                </div>
                                <aside class="sidebar hidden md:block">
                                    <div class="sticky top-16">
                                        {% include "../_includes/components/card.njk" %}
                                        <div class="payments flex flex-col items-center gap-6 mt-9">
                                            <p class="flex items-center gap-2 text-disabled text-sm">
                                                <i class="icon-Lock"></i>
                                                <span>Payments are secure and encrypted</span>
                                            </p>
                                            <img src="/assets/images/payment-options.png" width="360" height="26" alt="Payments are secure and encrypted">
                                        </div>
                                    </div>
                                </aside>
                            </div>
                        </div>
                        <aside class="sidebar sticky bottom-0 left-0 w-full md:hidden">
                            <div class="sticky top-16">
                                {% include "../_includes/components/card.njk" %}
                            </div>
                        </aside>
                    </section>
                {% endblock %}
            </main>
            {% block footer %}{% endblock %}
        </div>
        {% block scripts %}
            {% include "../_includes/scripts.njk" %}
        {% endblock %}
    </body>
</html>