<div class="payments flex flex-col items-center gap-6 mt-9">
    <p class="flex items-center gap-2 text-disabled text-sm">
        <i class="icon-Lock"></i>
        <span>Payments are secure and encrypted</span>
    </p>
    <img src="/assets/images/payment-options.png" width="360" height="26"
         alt="Payments are secure and encrypted">
</div>
