<div class="payment-methods flex flex-col max-w-lg">
    <ul class="payment-methods-list">
        <li class="payment-methods-item">
            <label class="form-radio form-item-outline w-full">
                <input type="radio" id="Edit_Registration_SocialMedia" name="Edit_Registration_SocialMedia" value=""
                       checked="">
                <img src="/assets/images/payment-method-1.png" alt="Card Payment">
                <span class="text-base font-bold ml-auto">Card Payment</span>
            </label>
        </li>
        <li class="payment-methods-item">
            <label class="form-radio form-item-outline w-full">
                <input type="radio" id="Edit_Registration_Word" name="Edit_Registration_SocialMedia" value="">
                <img src="/assets/images/payment-method-2.png" alt="Snapscan">
                <span class="text-base font-bold ml-auto">Snapscan</span>
            </label>
        </li>
        <li class="payment-methods-item">
            <label class="form-radio form-item-outline w-full">
                <input type="radio" id="Edit_Registration_Word" name="Edit_Registration_SocialMedia" value="">
                <img src="/assets/images/payment-method-3.png" alt="Instant EFT">
                <span class="text-base font-bold ml-auto">Instant EFT</span>
            </label>
        </li>
    </ul>
</div>
