---
layout: 'payment.njk'
title: 'Complete your payment'
notification: 'secondary'
---
<div class="payment-content-header">
    <img src="/assets/images/SnapScan.png" alt="Image">
</div>
<div class="payment-content-body">
    <p class="mb-2 text-heading text-2xl font-medium">Pay with Snapscan</p>
    <p class="mb-6 text-sm">Scan with snapscan or tap to pay on mobile.</p>
    <img src="/assets/images/QR-code.png" alt="Image">
</div>
