---
layout: 'payment.njk'
title: 'Complete your payment'
notification: 'secondary'
---
<p class="text-sm"><a href="#" class="font-medium underline">Click here to refresh</a> if your page doesn’t load automatically.</p>
