<div class="ticket-preview">
    <div class="ticket-preview-img">
        <img src="/assets/images/event-image-{{ item }}.png" height="144" width="274" alt="General Sale (adult)">
    </div>
    <div class="ticket-preview-body grid gap-4 justify-between font-medium">
        <div class="ticket-preview-title text-heading text-lg">
            <h4 class="mb-1">General Sale (adult)</h4>
            <p class="text-xs text-disabled">Maynardville Open-Air Festival 2023 - Cape Town City
                Ballet</p>
        </div>
        <div class="ticket-preview-del">
            <a href="#" class="inline-flex items-center gap-2 text-disabled text-xs font-normal">
                <span>Remove</span>
                <i class="icon-Trash text-base"></i>
            </a>
        </div>
        <span class="ticket-preview-cost text-xl text-heading">R300.00</span>
    </div>
</div>
