<div class="order-list flex flex-col gap-4 text-xs">
    <div class="order-list-title text-heading">
        <h3 class="text-lg font-medium">AfrikaBurn 2023 - S P A C E</h3>
    </div>
    <div class="flex items-center gap-6">
        <div class="order-list-count">1</div>
        <div class="flex-1">Ticket #2: Weekend Pass & Bell Tent Glamping</div>
        <div class="font-medium">R 2,499</div>
    </div>
    <div class="flex items-center gap-6">
        <div class="order-list-count">2</div>
        <div class="flex-1">Ticket #2: Weekend Pass & Bell Tent Glamping</div>
        <div class="font-medium">R 2,499</div>
    </div>
</div>
