<div class="order-list flex flex-col gap-4">
    <div class="order-list-title text-heading">
        <h3 class="text-lg font-medium mb-1">AfrikaBurn 2023 - S P A C E</h3>
        <p class="font-medium text-disabled">Tankwa Town</p>
    </div>
    <div class="flex flex-col gap-2">
        <div class="flex items-center gap-2 text-sm">
            <div class="flex-1">General Sale (adult)</div>
            <div class="text-center basis-1/5">x1</div>
            <div class="font-medium text-[#161730] line-through text-right basis-1/5">R 650</div>
        </div>
        <div class="flex items-center gap-2">
            <div class="flex items-center gap-1 text-sm flex-1">
                <i class="icon-Tag-2 text-primary"></i>
                <span>SPECNO10% PROMO APPLIED (-R250)</span>
            </div>
            <div class="text-sm font-medium text-[#161730] text-right basis-1/5">R 650</div>
        </div>
    </div>
    <div class="flex items-center gap-2 text-sm">
        <div class="flex-1">Ticket #2: Weekend Pass & Bell Tent Glamping</div>
        <div class="text-center basis-1/5">x2</div>
        <div class="font-medium text-[#161730] text-right basis-1/5">R 2,499</div>
    </div>
</div>
