<div class="order-sum flex flex-col gap-6 flex-1">
    <div class="flex items-center gap-2 font-medium text-heading">
        <div class="flex-1">Item</div>
        <div class="text-center basis-1/5">QTY</div>
        <div class="text-right basis-1/5">Amount</div>
    </div>
    {% include "./order-list.njk" %}
    {% include "./order-list.njk" %}
</div>
