---
layout: 'default.njk'
title: 'AfrikaBurn 2023 - S P A C E'
author: 'AfrikaBurn'
link: 'https://www.afrikaburn.com/'
---

<h2 id="About" class="text-heading font-medium">About</h2>
<p>
    AfrikaBurn 2023...
</p>
<p>
    Invites you to embark on a journey through universes, to new worlds, through a glimmering wormhole and out the other
    side.</p>
<p>Quaggafontein beckons with a circus in the stars, a field of imagination ripe for navigation
    and creation. Forge your own wonders, design cosmic delights and play with your weird and alien crew. This horizon
    beckons you.</p>
<p>Breathe deep the night air, drink the moonlight moonshine. Stumble and play on our rocky orb,
    in the glow of our nearest star. Imagine all you can be and fall in love with all you are.</p>
<p>AfrikaBurn is the spectacular result of the creative expression of participants who gather
    once a year in the Tankwa Karoo to create a temporary city of art, theme camps, costume, music and performance. Guided
    by 11 principles AfrikaBurn isn’t designed to be easy, it’s about radical preparation and self reliance, imagining,
    community and participation.</p>
<img src="/assets/images/image-1.png" width="704" height="284" loading="lazy"  decoding="async" alt="">
<p class="mt-4 mb-0">Photo by: Jonx Pillmer</p>
<h2 id="Directions" class="text-heading font-medium">Directions</h2>
<img src="/assets/images/image-2.png" width="508" height="310" loading="lazy"  decoding="async" alt="">
<p>Welcome to the festival! The entrance to the festival grounds is located at the main gate, which is located at the east end of the parking lot. All attendees must present a valid ticket and undergo a security check before entering the festival grounds. Once inside, please follow the signage and directions provided by festival staff to locate the different areas of the festival, including the main stage, food vendors, and restrooms. For your safety and the safety of others, please remain on designated paths and do not enter restricted areas. If you require any assistance or have any questions, please approach a festival staff member who will be happy to help you. We hope you enjoy the festival!</p>
<h2 id="Terms&Conditions" class="text-heading font-medium">Terms & Conditions</h2>
<ol>
    <li>The festival organizers shall not be held liable for any loss, damage or injury to persons or property arising from or in connection with the festival. All attendees enter the festival at their own risk and are responsible for their own safety and security while on the festival grounds.</li>
    <li>The festival organizers reserve the right to refuse entry or eject any attendee from the festival for any reason, including but not limited to disorderly conduct, breach of these terms and conditions, or any other behavior deemed inappropriate by festival staff. Attendees must comply with all rules and regulations posted on the festival grounds and follow the instructions of festival staff at all times. Any violation of these terms and conditions may result in immediate ejection from the festival without refund.</li>
</ol>
<p>Please note that these terms and conditions are subject to change without notice, and all attendees are responsible for reviewing and complying with the most current version available on the festival's official website or on-site at the festival. By purchasing a ticket and attending the festival, all attendees acknowledge and agree to these terms and conditions.</p>
<h2 id="Disclaimer" class="text-heading font-medium">Disclaimer</h2>
<p>Please note that the festival schedule, lineup, and activities are subject to change without notice. While we strive to provide accurate and up-to-date information, we cannot guarantee the availability or accuracy of all festival details..</p>