@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        color: var(--color-text-body);
        scroll-behavior: smooth;
        -webkit-text-size-adjust: 100%;
    }
    body {
        @apply font-heebo;
    }
}
