:root {
    --font-main: 'Heebo', sans-serif;
    --body-bg-color: #FCFCFC;
    --color-green: #5EB700;
    --color-orange: #FF7C00;
    --color-grey: #F0F0F4;
    --color-disabled: #A5A5AA;
    --color-text-body: #485868;
    --color-heading: #33414F;
    --color-error: #F03738;
    --color-lightGreen: rgba(180, 213, 146, 0.2),
}

$grid-breakpoints: ("xs": 576px,
    "sm": 767px,
    "md": 991px,
    "lg": 1199px,
    "xl": 1376px);
$base: 16px;
$base-viewport-mobile: 375px;
$typography-variants: h1,
h2,
h3,
h4;
